<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction</title>
</head>
<body>
    <form action="">
        <div class="form-group">
          <label for="AverageMaxTem">Average Maximum Temperature</label>
          <input type="text" class="form-control" id="AverageMaxTem" aria-describedby="Average Maximum Temperature" placeholder="Enter Average Maximum Temperature">
        </div>

        <div class="form-group">
            <label for="AverageMinTem">Average Minimum Temperature</label>
            <input type="text" class="form-control" id="AverageMinTem" aria-describedby="Average Minimum Temperature" placeholder="Enter Average Minimum Temperature">
          </div>

          <div class="form-group">
            <label for="humidity">Humidity</label>
            <input type="text" class="form-control" id="humidity" aria-describedby="humidity" placeholder="Enter humidity">
          </div>

          <div class="form-group">
            <label for="soilType">Soil Type</label>
            <input type="text" class="form-control" id="soilType" aria-describedby="soil Type" placeholder="Enter soil Type">
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</body>
</html>